body{
	background: #2E8B57;
	font-family: "Open Sans";
}
section.tela_login{
	background: #2E8B57;
	display: flex;
	margin-top: 10vw;
	box-shadow: 0.8vw 0.8vw 3vw rgba(0,0,0, 0.2);
	width: 55vw;
	margin: 10vw 24vw;
}
section.tela_login form{
	background: white;
	padding: 4vw 3vw 6vw 3vw;
	border-radius: 3px 0 0 3px;
}
section.tela_login div{
	border-radius: 0 3px 3px 0;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/fundo-elemento-textual.jpg");
}
section.tela_login form legend{
	text-align: center;
	font-weight: bold;
	font-size: 1.6em;
}
section.tela_login form input{
	display: block;
	margin: 2.5vw 0vw 2vw 0vw;
	border: none;
	border-bottom: 1px #BFBFBF solid;
	padding: 0 0 1vw 0;
	width: 100%;
}
section.tela_login form input.usuario{
	background: url(../img/icon-user.png) no-repeat right center;
}
section.tela_login form input.senha{
	background: url(../img/icon-pass.png) no-repeat right center;
}
section.tela_login form input.botao{
	background: #D15716;
	color: white;
	padding: 0.7vw 2vw 0.7vw 2vw;
	border-radius: 2vw;
	width: auto;
}
section.tela_login form label{
	display: none;
}
section.tela_login form button.login{
	display: flex;
	justify-content: space-between;
	margin: 2vw 0 0 0;
	color: white;
	font-size: 0.9em;
	border: none;
	padding: 0.5vw 5vw 0.5vw 5vw;
	background: green;
}

section.tela_login form button.registro{
	display: flex;
	justify-content: space-between;
	margin: 2vw 0 0 0;
	color: #D05715;
	font-size: 0.9em;
	border: none;
	background: none;
}
section.tela_login div{
	color: white;
	font-size: 2em;
	text-align: center;
	line-height: 1.1em;
}

section.tela_login div h1{
	color: white;
}	
section.tela_login div h1{
	font-weight: bold;
	width: 30vw;
	margin: 5vw 3vw 5vw 3vw;
}
section.tela_login div p{
	color: white;	
	font-size: 0.5em;
	width: 30vw;
}
section.tela_login div p{
	width: 25vw;
	margin: 8vw 3vw 4vw 3vw;
}
/* ----------------------- CADASTROUSER ----------------------------*/

section.cadastro_user{
	display: none;
}
section.cadastro_user div{
	background: white;
	width: 25vw;
	margin: 7vw 0 15vw 30vw;
	padding: 5vw;
	box-shadow: 0.8vw 0.8vw 3vw rgba(0,0,0, 0.5);
}
section.cadastro_user div form legend{
	font-size: 1.8em;
	margin: 0vw 0 2vw 0;
	text-align: center;
	font-weight: bold;
}
section.cadastro_user div form label{
	display: block; 
	color: #2E8B57;
	margin: 1.5vw 0;
	font-size: 1em;
}
section.cadastro_user div form input{
	border: 2px solid #2E8B57;
	padding: 0.5vw 3.5vw 0.5vw 0.5vw;
}
section.cadastro_user div form input.cadastro{
	display: block;
}
section.cadastro_user div form select{
	border: 2px solid #2E8B57;
	padding: 0.4vw 1vw;
}
section.cadastro_user div form button.cadastro{
	border-width: 1px;
	border-style: solid;
	border-color: #2E8B57;
	padding: 0.8vw;
	color: #2E8B57;
	background: white;
	margin: 1.5vw 0;
	transition: 1s;
	cursor: pointer;
}
section.cadastro_user div form button.cadastro:hover{
	color: white;
	background: #2E8B57;
	transition: 1s;
}
section.cadastro_user div form p{
	color: #2E8B57;
	font-size: 0.95em;
	margin: 0vw 0 0vw 0;
	font-size: 1em;
	margin: 1.5vw 0;
}
section.cadastro_user div form label.sexo{
	display: inline;
}
section.cadastro_user div form p button.sessao{
	color: #D05715;
	font-size: 0.9em;
	border: none;
	background: none;
}

/* ----------------------- TELA INICIAL ----------------------------*/
section.tela_inicial{
	display: none;
	box-shadow: 0.8vw 0.8vw 3vw rgba(0,0,0, 0.2);
	width: 100vw;
	height: 100vh;
	justify-content: center;
}
section.tela_inicial h2{
	font-weight: bold;
	width: 80vw;
	margin: 1vw 3vw 1vw 3vw;
	text-align: center;
}
section.tela_inicial button.sair{
	box-shadow: 0.8vw 0.8vw 3vw rgba(0,0,0, 0.2);
	margin-top: 0vh;
	text-align: center;
	width: 5vw;
	height: 5vh;
	border: none;
	background: #2E8B57;
	font-weight: bold;
	font-size: 1em;
	color: white;
}
section.tela_inicial div{
	width: 90vw;
	height: 80vh;
	margin-top: 10vh;
	margin-left: 5vw;
	border-radius: 0 3px 3px 0;
	background: white;
	overflow: auto;
}
section.tela_inicial div ul{
	display: block;
	background: red;
}
section.tela_inicial div ul li{
	display: flex;
	width: 89.85vw;
	background: white;
	line-height: 20px;
	font-size: 0.8em;
	border: 1px solid;
}
section.tela_inicial div ul li p{
	width: 100vw;
}
section.tela_inicial div ul li span{
	width: 60vw;
	display: none;
	background: black;
}

section.areas_reflorestadas{
	display: none;
	width: 25vw;
	margin: 0 auto;
}

section.areas_reflorestadas form legend{
	font-size: 1.8em;
	margin: 2vw 0 2vw 0;
}

section.areas_reflorestadas form label{
	display: block; 
	color: #0F73BC;
	margin: 1.5vw 0;
	font-size: 1em;
}

section.areas_reflorestadas form input{
	border: 2px solid #C6D9EB;
	padding: 0.5vw 3.5vw 0.5vw 0.5vw;
}

section.areas_reflorestadas form p button.cadastro{
	background: none;
	border:none;
	color: #D05715;
}

/*************************************************************/


section.propriedade{
	display: none;
}
section.propriedade div{
	background: white;
	width: 25vw;
	margin: 7vw 0 15vw 30vw;
	padding: 5vw;
	box-shadow: 0.8vw 0.8vw 3vw rgba(0,0,0, 0.5);
}

section.propriedade div form legend{
	font-size: 1.8em;
	margin: 0vw 0 2vw 0;
	text-align: center;
	font-weight: bold;
}

section.propriedade div form label{
	margin: 2vw 0 0 0;
	display: block; 
	color: #2E8B57;
	font-size: 1em;
}
section.propriedade div form input{
	border: 2px solid #2E8B57;
	padding: 0.5vw 3.5vw 0.5vw 0.5vw;
	margin: 1.2vw 0 0 0;
}

section.propriedade div form p{
	color: #2E8B57;
	font-size: 0.95em;
	margin: 0vw 0 0vw 0;
	font-size: 1em;
	margin: 1.5vw 0;
}
section.propriedade div form button.cadastrar_propriedade{
	display: flex;
	border-width: 1px;
	border-style: solid;
	border-color: #2E8B57;
	padding: 0.8vw;
	color: #2E8B57;
	background: white;
	margin: 1.5vw 0;
	transition: 1s;
	cursor: pointer;
}
section.propriedade div form button.cadastrar_propriedade:hover{
	color: white;
	background: #2E8B57;
	transition: 1s;
}
section.propriedade div form label.zona{
	display: inline;
}
/*************************************************************/


section.cadastro_arvores{
	display: none;
	width: 25vw;
	margin: 0 auto;
}

section.cadastro_arvores form legend{
	font-size: 1.8em;
	margin: 2vw 0 2vw 0;
}

section.cadastro_arvores form label{
	display: block; 
	color: #0F73BC;
	margin: 1.5vw 0;
	font-size: 1em;
}

section.cadastro_arvores form input{
	border: 2px solid #C6D9EB;
	padding: 0.5vw 3.5vw 0.5vw 0.5vw;
}

section.cadastro_arvores form p{
	color: #0F73BC;
	font-size: 0.95em;
	margin: 2vw 0 1vw 0;
}
section.cadastro_arvores form p button.cadastro{
	background: none;
	border:none;
	color: #D05715;
}